body {
    background-image: url('../img/hawaii/dtpics-276-1980.jpg');
    background-size:cover;
    max-width:100vw;
    max-height:100vh;

}
.row {
    margin: 0px;
    padding: 0px;

}
.navbar-wrapper {
    max-height: 110px;
}
section {
    min-height:90vh;
}
section.screenshots {
    background-color:lightcyan;
    background-size:cover;
}
article.screenshots {
margin: 80px;
padding: 20px;
}

hr {
    border-color:teal;
}

.thumbnail1  {
    background-color: lightcyan;
    border: 5px solid teal;
    color: teal;
    font-weight: bold;
    max-width:70%;
    margin:auto;
    margin-top:50px;
    padding:20px;
}
h2 {
    text-align:center;
        color: teal;
}
h3 {
    color:teal;
}

h4 {
    text-align:left;
        color: teal;
}
footer {
    padding-top:10px;
    padding-bottom:10px;
}
