body {
    color: #5E5E87;
}

h1, h2, h3, h4, h5, h6 {
    color: #5E5E87;
}

/* set color accent on bottom of navbar */
.navbar-inner {
    border-bottom: 15px solid #5E5E87;
    background-color: #e4e4e4;
    color: #98777f;
}

.navbar-fixed-top .navbar-inner {
    border-width: 0px 0px 10px;
}

nav.pull-right {
    margin-right: 20px;
}

.navbar .brand a {
    margin-left: 25px;
    font-size: large;
    color: #6D6D6D;
    font-weight: 900;
}

.ul#menu-main.nav li a {
    margin-right: 25px;
    color: #6D6D6D;
}

a.btn.btn-navbar {
    margin-right: 30px;
    margin-top: 10px;
}

.btn.btn-navbar {
    background-color: #6D6D6D;
}

/* set size of logo on main page */
div.logo img {
    opacity: 0.4;
    width: 152px;
}

/* set padding on top of slides so that the text doesn't overlap */
#main-flexslider ul.slides li p {
    line-height: normal;
    font-size: 40px;
}
/* adjust font size on slides for smaller screens */
@media (max-width: 960px) {
    div.logo img {
        opacity: 0.4;
        width: 132px;
    }
}

@media (max-width: 600px) {
    #main-flexslider ul.slides li p {
        font-size: 24px;
    }

    div.logo img {
        opacity: 0.4;
        width: 112px;
    }
}

@media (max-width: 370px) {
    #main-flexslider ul.slides li p {
        font-size: 18px;
    }

    div.logo img {
        opacity: 0.4;
        width: 92px;
    }
}


/* set size of headshot picture */
.headshot {
    margin-left: 20px;
    margin-right: 15px;
    border-radius: 10px;
    margin-top: 20px;
    border: 5px groove #5E5E87;
    box-shadow: rgba(109,109,109,0.5) 10px 10px inset;
    max-width: 95%;
    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Safari */
    transform: rotate(5deg);
}

/* decrease spacing on the "About me" page */
#about.section {
    padding-top: 80px;
    width: 100vw;
}

    #about.section h4 {
        margin-bottom: 5px;
    }

    #about.section h2 {
        margin-bottom: 10px;
    }

.row.newstart {
    margin-bottom: 10px;
}

.span7.offset1 .row {
    margin-bottom: 10px;
}

.team-thumb {
    margin-top: 0px;
    width: 60px;
    height: 60px;
    padding: 5px 5px 5px 5px;
    border: 3px groove #5E5E87;
}

/* make font a little darker for the "About Me" section */
.span8.offset1 p {
    font-weight: 500;
}

/* justify text in "A New Start" section */
.newstart p {
    text-align: justify;
}

/* set size of "team / many hats" pictures or text */


/* italic font */
.italic {
    font-style: italic;
}

/* Close Button */
.popup-close {
    width: 30px;
    height: 30px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    background: rgba(0,0,0,0.8);
    font-family: Arial, Sans-Serif;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    /*color:#fff;*/
    color: #5E5E87;
    font-weight: 900;
}

    .popup-close:hover {
        -webkit-transform: translate(50%, -50%) rotate(180deg);
        transform: translate(50%, -50%) rotate(180deg);
        background: rgba(0,0,0,1);
        text-decoration: none;
    }

a#toggle {
    color: #5E5E87;
}

    a#toggle:hover {
        font-weight: 700;
    }

#grad {
    width: 100vw;
    height: 100vh;
    min-height: 800px;
    background: #5E5E87; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #5E5E87, #e4e4e4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #5E5E87, #e4e4e4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #5E5E87, #e4e4e4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #5E5E87, #e4e4e4); /* Standard syntax */
}
/* set minimum popup window size for smaller screens */
@media (max-width: 767px) {
    #grad {
        min-height: 1200px;
    }

    .headshot {
        max-width: 60vw;
    }
}

@media (max-width: 420px) {
    #grad {
        min-height: 1400px;
    }

    .headshot {
        max-width: 60vw;
    }
}

.textbox {
    background-color: #ECECEC;
    color: #5E5E87;
    font-weight: 700;
    width: 60vw;
    padding: 20px;
    text-align: justify;
    position: relative;
    margin: auto;
    margin-top: 100px;
    /*top: 50%;
    left: 50%;*/
    /*box-shadow:rgba(109,109,109,0.5) 10px 10px inset;*/
    border: 20px groove rgba(109,109,109,0.5);
    border-color: #5E5E87;
    vertical-align: middle;
}

/* change size of turtle icon for quote */
img.icon-rocket {
    width: 9%;
    opacity: 0.3;
}

/* set minimum height on works/project page */
#works {
    min-height: 500px;
}

    /* set max height for project squares */
    #works img {
        max-height: 141px;
    }

.villa {
    min-width: 188px;
}

/* Project pages */
.project {
    margin: 0px;
    padding: 0px;
}

#projectBackground {
    width: 100vw;
    height: 100vh;
    /*opacity: 0.6;*/
    background-image: url('../img/notebookontable.jpg');
    background-size: cover;
}

#HawaiiGif {
    background-color: lightcyan;
    background-size: cover;
    width: 100vw;
}

    #hawaiigif img {
        width: 98vw;
        height: 77vh;
        margin-left: 10px;
        margin-top: 80px;
        margin-bottom: 5px;
        margin-right: 5px;
    }

#WardrobeGif {
    background-color: #704100;
    background-size: cover;
    width: 100vw;
}

    #wardrobegif img {
        width: 98vw;
        height: 77vh;
        margin-left: 10px;
        margin-top: 80px;
        margin-bottom: 5px;
        margin-right: 5px;
    }

@media (max-width: 767px) {
  #hawaiigif img {
        width: 91vw;
    }
  #wardrobegif img {
      width:91vw;
  }
  #tuscanygif img {
      width: 91vw;
  }
}

#TuscanyGif {
    background-color: lightgray;
    background-size: cover;
    width: 100vw;
}

    #tuscanygif img {
        /*margin: 80px 50px 50px 70px;*/
        width: 98vw;
        height: 77vh;
        margin-left: 10px;
        margin-top: 80px;
        margin-bottom: 5px;
    }

#task {
    color: #6D6D6D;
    font-family: 'Just Another Hand', cursive;
    width: 37vw;
    margin-top: 70px;
    margin-left: 190px;
    font-size: 24px;
    line-height: 10px;
    z-index: 4;
    -ms-transform: rotate(-18deg); /* IE 9 */
    -webkit-transform: rotate(-18deg); /* Safari */
    transform: rotate(-18deg);
}
#Tuscany #task {
    margin-left: 170px;
    margin-top:85px;
    width:34vw;
}

    #task h4 {
        color: #6D6D6D;
        font-family: 'Just Another Hand', cursive;
        font-size: 30px;
    }

    #task h6 {
        color: #6D6D6D;
        font-family: 'Just Another Hand', cursive;
        font-size: 24px;
    }

    #task p {
        color: #6D6D6D;
        line-height: 1.2em;
    }

@media (min-width: 768px) and (max-width: 1010px) {
    #task {
        margin-top: 70px;
        margin-left: 165px;
    }

        #task h4 {
            font-size: 24px;
        }

        #task h6, #task p {
            font-size: 20px;
        }
}

@media (max-width: 767px) {
    #task {
        margin-top: 65px;
        margin-left: 150px;
        width: 42vw;
    }

        #task h4 {
            font-size: 24px;
        }

        #task h6, #task p {
            font-size: 20px;
        }
}

@media (max-width: 665px) {
    #task {
        margin-top: 60px;
        margin-left: 140px;
        width: 50vw;
    }

        #task h4 {
            font-size: 22px;
        }

        #task h6, #task p {
            font-size: 18px;
        }
}

@media (max-width: 665px) {
    #task {
        margin-top: 60px;
        margin-left: 145px;
        width: 50vw;
    }

        #task h4 {
            font-size: 22px;
        }

        #task h6, #task p {
            font-size: 18px;
        }
}

@media (max-width : 480px) {
    #projectBackground {
        width: 100vw;
        height: 100vh;
        background-image: none;
        background-color: #ECECEC;
        background-size: cover;
    }

    #task, #Tuscany #task {
        margin: 20px;
        width: 85vw;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Safari */
        transform: rotate(0deg);
        vertical-align: middle;
    }

        #task h4 {
            font-size: 28px;
            margin-bottom: 10px;
        }

        #task h6, #task p {
            font-size: 24px;
            margin-bottom: 5px;
        }
}


.button {
    background-color: #e4e4e4;
    border: 1px solid #6D6D6D;
    color: #6D6D6D;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*#task ul {*/
#task ul.btnformat {
    margin: 0 0 20px;
    list-style: none;
    padding: 0;
}

/*#task ul li {*/
ul.btnformat li {
    display: inline-block;
    line-height: normal;
}

#task ul.btnformat a {
    font-size: 22px;
    color: white;
    background-color: #6D6D6D;
}

    #task ul.btnformat a:hover {
        color: #6D6D6D;
        background-color: #e4e4e4;
    }


#HawaiiGif ul.btnformat a {
    color: white;
    background-color: teal;
}

    #HawaiiGif ul.btnformat a:hover {
        color: teal;
        background-color: lightcyan;
    }

#WardrobeGif ul.btnformat a {
    color: white;
    background-color: #704100;
}

    #WardrobeGif ul.btnformat a:hover {
        color: #704100;
        background-color: moccasin;
    }

#TuscanyGif ul.btnformat a {
    color: white ;
    background-color: darkslateblue;
}

    #TuscanyGif ul.btnformat a:hover {
        color: darkslateblue;
        background-color: lightgray;
    }

.Gif.btnformat {
    margin: 0 0 5px 0;
    font-size: 18px;
    list-style: none;
    text-align: center;
    padding: 0;
}

.bold {
    font-weight: 800;
}

/* add social media links onto contact page 
    made changes in style.css file */
ul.social-networks {
    text-align: center;
}

.row .row {
    margin-bottom: 5px;
}

form {
    margin-bottom: 5px;
}

/* decrease padding at top and bottom of contact page and bottom of footer */
#contact {
    background-color: rgbA(94,94,135, 0.3);
    padding-top: 80px;
    padding-bottom: 40px;
}

    #contact.section.green div.container div.row {
        margin-bottom: 10px;
    }

footer {
    padding-top: 15px;
    padding-bottom: 0px;
}

a.hats, .people p {
    line-height: 1.0em;
}

.span1.flyIn {
}
